@import url(src/global.css);
@import url(src/components/ActionButton/ActionButton.css);
@import url(src/components/FilterNav/FilterNav.css);
@import url(src/components/IconButton/IconButton.css);
@import url(src/components/TaskItem/TaskItem.css);
@import url(src/components/NewTaskForm/NewTaskForm.css);
@import url(src/components/typography/typography.css);

.newTaskGrid {
  display: grid;
  grid-template-rows: 30vh 70vh;
}

.newTaskGrid header {
  padding: 1rem;
  align-self: end;
}

.wrapperMainGrid {
  display: grid;
  grid: 5vh 25vh 1fr / [start] 2rem 1fr auto [end];
  padding: 1rem;
  height: 100vh;
}

.wrapperMainGrid__menu {
  grid-column: start / end;
  place-self: center left;
}

.wrapperMainGrid__headline {
  grid-column: span 2;
  place-self: center left;
}

.wrapperMainGrid__notification {
  place-self: center right;
}

.wrapperMainGrid__filter-nav {
  justify-self: flex-start;
}

.wrapperMainGrid__tasks {
  grid-column: span 2;
  overflow-y: auto;
  padding-bottom: 3em;
  background-color: var(--clr-content-passive);
}
