.filterNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.filterNav__item {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--clr-content-passive);
  font-weight: var(--fw-thin);
}

.filterNav__item--active {
  color: var(--clr-primary);
}
