<div class="filterDay">
  <label class="filterDay__label">
    <input
      type="radio"
      name="date"
      class="filterDay__radio"
      value="today"
      checked="true"
    />
    <span>Today</span>
  </label>

  <label class="filterDay__label">
    <input type="radio" name="date" class="filterDay__radio" value="tomorrow" />
    <span>Tomorrow</span>
  </label>

  <label class="filterDay__label">
    <input type="radio" name="date" class="filterDay__radio" value="thisweek" />
    <span>This Week</span>
  </label>
</div>
