h1 {
  font-weight: var(--fw-primary);
  font-size: 3rem;
}

h2 {
  font-weight: var(--fw-primary);
  font-size: 2rem;
}
h3 {
  font-weight: var(--fw-primary);
  font-size: 1.25rem;
  text-transform: uppercase;
}
h4 {
  font-family: var(--ff-secondary), sans-serif;
  font-weight: var(--fw-primary);
  font-size: 1rem;
}
h5,
h6 {
  font: 400 1rem var(--ff-primary), sans-serif;
}
