.task-item {
  display: none;
}

.task-item ~ label {
  display: block;
  margin-bottom: 1em;
  font-size: 1.25rem;
  cursor: pointer;
}
.task-item:checked + label {
  text-decoration: line-through;
  text-decoration-color: var(--clr-primary);
}
