.taskItem span {
  display: block;
  margin-bottom: 1em;
  font-size: 1.25rem;
  cursor: pointer;
}

.taskItem__checkbox {
  display: block;
  opacity: 0;
  height: 0;
  width: 0;
}

.taskItem__checkbox:checked + span {
  text-decoration: line-through;
  text-decoration-color: var(--clr-primary);
}
