/* Form container */

.newTaskForm {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Fieldset and label styles */

.newTaskForm__section {
  border: none;
  margin-bottom: 3rem;
  padding: 1rem 0 1rem 1rem;
}

.newTaskForm__section--grow {
  flex-grow: 1;
}

.newTaskForm__section fieldset {
  /* fix fieldset positioning */
  padding: 1rem 0 0 0;
  margin-bottom: 0;
}

.newTaskForm__label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  margin: 1em 0;
}

/* Input Description styles */

.newTaskForm__description {
  font-size: 3rem;
  border: none;
  width: 100%;
  padding-bottom: 0.2em;
  padding-right: 0.2em;
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.38);
}

.newTaskForm__description::placeholder {
  color: rgba(0, 0, 0, 0.21);
}

.newTaskForm__description:focus {
  outline: none;
}

/* Radio Date styles */

.newTaskForm__wrapper-date {
  display: flex;
  justify-content: space-around;
  background-color: rgba(212, 212, 212, 0.3);
}

.newTaskForm__date + label {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.68);
}

.newTaskForm__date:checked + label {
  color: var(--clr-primary);
}

.newTaskForm__date {
  display: none;
}

/* Submit button styles */

.newTaskForm__submit {
  background-color: var(--clr-primary);
  color: #fff;
  border: none;
  font-size: 1.25rem;
  padding: 1em 0;
}
