/* Form container */

.frm-new-task {
  display: flex;
  flex-direction: column;
}

/* Fieldset and label styles */

.frm-new-task__section {
  border: none;
  margin-bottom: 3rem;
  padding: 1em;
}

.frm-new-task__section:last-of-type {
  flex-grow: 1;
}

.frm-new-task__section fieldset {
  /* fix fieldset positioning */
  padding: 1em 0 0 0;
  margin-bottom: 0;
}

.frm-new-task__label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  margin: 1em 0;
}

/* Input Description styles */

.frm-new-task__description {
  font-size: 3rem;
  border: none;
  padding-bottom: 0.2em;
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.38);
  overflow: hidden;
}

.frm-new-task__description::placeholder {
  color: rgba(0, 0, 0, 0.21);
}

.frm-new-task__description:focus {
  outline: none;
}

/* Radio Date styles */

.frm-new-task__wrapper-date {
  display: flex;
  justify-content: space-around;
  background-color: rgba(212, 212, 212, 0.3);
}

.frm-new-task__date + label {
  width: 100%;
  text-align: center;
  padding: 1em 0;

  cursor: pointer;
  color: rgba(0, 0, 0, 0.68);
}

.frm-new-task__date:checked + label {
  color: var(--clr-primary);
}

.frm-new-task__date {
  display: none;
}

/* Submit button styles */

.frm-new-task__submit {
  background-color: var(--clr-primary);
  color: #fff;
  border: none;
  font-size: 1.25rem;
  padding: 1em 0;
}
