@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100;300&display=swap");

:root {
  /* Font variables */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --fw-thin: 100;
  --fw-primary: 300;
  --fw-secondary: 600;

  /* Color variables */
  --clr-primary: #fe4775;
  --clr-secondary: #161060;
  --clr-text-primary: #393939;
  --clr-text-passive: hsla(0, 0%, 0%, 0.55);
  --clr-content-passive: #fbfbfb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-primary), sans-serif;
  color: var(--clr-text-primary);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--ff-primary), sans-serif;
}
