.icon-button {
  display: block;
  border: none;
  background-color: #fff;
  font-size: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon-button::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  background-size: 2rem 2rem;
}

.icon-button--menu::after {
  background-image: url("assets/menu.svg");
}

.icon-button--notification::after {
  background-image: url("assets/bell.svg");
}

.icon-button--back::after {
  background-image: url("assets/back.svg");
}

.icon-button--close::after {
  background-image: url("assets/close.svg");
}
